{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            {% if form.vars.data.imageFilename %}
                <img src="{{ asset(form.vars.data.imagePath)|imagine_filter('my_normal') }}" class="showImageDesktop mx-auto">
                <img src="{{ asset(wine.imagePath)|imagine_filter('my_thumb_wine') }}" class="showImageMobile mx-auto">
            {% endif %}
            {{ form_row(form.imageFilename) }}
        </div>
        <div class="col-md-8">        
            {{ form_row(form.name) }}
            {{ form_row(form.vintage) }}
            {{ form_row(form.grape) }}
            {{ form_row(form.country) }}
            {{ form_row(form.region) }}
            {{ form_row(form.description) }}
        </div>
    </div>
{{ form_end(form) }}
