{% extends 'layout.html.twig' %}

{% block title %}Wine index{% endblock %}

{% block content %}
    <h1>This page will be the Wine Catalogue Page</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vintage</th>
                <th>Grape</th>
                <th>Region</th>
                <th>image_path</th>
            </tr>
        </thead>
        <tbody>
        {% for wine in wines %}
            <tr>
                <td>{{ wine.name }}</td>
                <td>{{ wine.vintage }}</td>
                <td>{{ wine.grape }}</td>
                <td>{{ wine.region }}</td>
                <td>
                    <img src="{{ wine.imagePath }}">
                </td>
                <td>
                    <a href="{{ path('wine_show', {'id': wine.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wine_new') }}">Create new</a>
{% endblock %}
