{% extends 'layout.html.twig' %}

{% block title %}Wine index{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/collection.css">
    {% endblock %}

{% block content %}
    <h1>This page will be the Wine Catalogue Page</h1>    
    <div class="row">
        <div class="col-sm-12"> 
            <h3>{{ pagination.getTotalItemCount }}</h3>
            <form>
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ app.request.query.get('q') }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section id="collection">
        <div class="container">
            <div class="d-flex row">
                
                {% for wine in pagination %}

                <div class="col-md-4">
                    <img src="{{ wine.imagePath|imagine_filter('my_thumb') }}" class"wine-image">
                    <h3 class="name">{{ wine.name }}</h3>
                    <h4 class="vintage">{{ wine.vintage }}</h4>
                    <h4 class="grape">{{ wine.grape }}</h4>
                    <h4 class="region">{{ wine.region }}</h4>

                    {% if app.user == true %}
                    <a href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>
                    {% else %}
                    <a href="{{ path('wine_show', {'id': wine.id}) }}">learn more</a>
                    {% endif %}
                </div>
                {% else %}
                <div>
                    <td colspan="9">no records found</td>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    {% if app.user == true %}
    <a href="{{ path('wine_new') }}">Create new</a>
    {% endif %}
{% endblock %}
