{% extends 'layout.html.twig' %}

{% block title %}Wine index{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/collection.css">
    {% endblock %}

{% block content %}   
    <section id="collection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"> 
                    <h1>Wine Collection</h1>
                    <form>
                    <div class="input-group mb-3">
                        <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ app.request.query.get('q') }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="d-flex row">
                
                {% for wine in pagination %}

                <div class="col-md-4 text-center text-capitalize px-0">
                    <img src="{{ wine.imagePath|imagine_filter('my_thumb') }}" class"wine-image">
                    <div class="wine-container">
                        <h3 class="name">{{ wine.name }}</h3>
                        <h5 class="region">{{ wine.region }}</h5>
                        <h5 class="vintage d-inline">{{ wine.vintage }}</h5>
                        <h5 class="grape d-inline">{{ wine.grape }}</h5>

                        {% if app.user == true %}
                        <a class="d-block btn color-bordeaux collection-btn" href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>
                        {% else %}
                        <a class="d-block btn color-bordeaux collection-btn" href="{{ path('wine_show', {'id': wine.id}) }}">learn more</a>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div>
                    <td colspan="9">no records found</td>
                </div>
                {% endfor %}
            </div>

            <div class="navigation text-right">
                {{ knp_pagination_render(pagination) }}
                    <h3>{{ pagination.getTotalItemCount }} - Wine(s) in stock</h3>
            </div>
            {% if app.user == true %}
            <a href="{{ path('wine_new') }}">Create new</a>
            {% endif %}

        </div>
    </section>
{% endblock %}
