{% extends 'layout.html.twig' %}

{% block title %}Wine index{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/collection/collection.css">
            <link rel="stylesheet" href="/css/views/collection/collection.media.css">
    {% endblock %}

{% block content %}   
    <section id="collection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 mx-auto"> 
                    <h1>Wine Collection</h1>
                    <form>
                    <div class="input-group mb-3 search-bar">
                        <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ app.request.query.get('q') }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-bordeaux btn-outline-secondary">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
                
                {# Desktop Wine Collection #}   

                <div id="desktop-collection" class="row collection-container"> 
                    {% for wine in pagination %}
                        <div class="col-md-4 text-center text-capitalize px-0">

                            <img src="{{ wine.imagePath|imagine_filter('my_thumb_wine_90') }}" class="wine-image">
                            <div class="wine-container">
                                <h3 class="name">{{ wine.name }}</h3>
                                <h5 class="region">{{ wine.region }}</h5>
                                <h5 class="vintage d-inline">{{ wine.vintage }}</h5>
                                <h5 class="grape d-inline">{{ wine.grape }}</h5>

                                {% if app.user == true %}
                                    <a class="d-block btn color-bordeaux collection-btn mx-auto" href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>
                                {% else %}
                                    <a class="d-block btn color-bordeaux collection-btn mx-auto" href="{{ path('wine_show', {'id': wine.id}) }}">learn more</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <td colspan="9">no records found</td>
                        </div>
                    {% endfor %}
                    <div class="navigation text-center col-md-12">
                        <div class="row">
                            <div class="col-md-3 mx-auto">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            {% if app.user == true %}
                                <a class="action-link btn btn-bordeaux" href="{{ path('wine_new') }}">Create new</a>
                            {% endif %}
                                <h3 class="">{{ pagination.getTotalItemCount }} - Wine(s) in stock</h3>
                        </div>
                    </div>
                </div>

                {# Mobile Wine Collection #}   

                <div id="mobile-collection" class="col-12 col-md-4 text-center text-capitalize px-0">

                    {% for wine in pagination %}
                        <a class="mx-auto" href=" 
                            {% if app.user == true %}
                                {{ path('wine_edit', {'id': wine.id}) }}
                            {% else %}
                                {{ path('wine_show', {'id': wine.id}) }}
                            {% endif %}
                        ">
                            <div class="mobile-wine-container d-flex">
                                <div class="col-4">
                                    <img src="{{ wine.imagePath|imagine_filter('my_thumb_wine') }}" class="wine-image-mobile mx-auto">
                                </div>
                                <div class="col-8">
                                    <h6 class="name">{{ wine.name }}</h6>
                                    <h6 class="region">{{ wine.region }}</h6>
                                    <h6 class="vintage d-inline">{{ wine.vintage }}</h6>
                                    <h6 class="grape d-inline">{{ wine.grape }}</h6>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div>
                            <td colspan="9">no records found</td>
                        </div>
                    {% endfor %}
                    <div class="navigation text-center col-md-12">
                        <div class="row">
                            <div class="col-12 col-md-3 mx-auto pagination-navbar">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            {% if app.user == true %}
                                <a class="action-link btn btn-bordeaux" href="{{ path('wine_new') }}">Create new</a>
                            {% endif %}
                                <h3 class="">{{ pagination.getTotalItemCount }} - Wine(s) in stock</h3>
                        </div>
                    </div>
                </div>

        </div>
    </section>
{% endblock %}
