{% extends 'layout.html.twig' %}

{% block title %}Wine{% endblock %}

{% block content %}
    <h1>Wine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wine.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wine.name }}</td>
            </tr>
            <tr>
                <th>Vintage</th>
                <td>{{ wine.vintage }}</td>
            </tr>
            <tr>
                <th>Grape</th>
                <td>{{ wine.grape }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ wine.country }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ wine.region }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wine.description }}</td>
            </tr>
            <tr>
                <th>image_path</th>
                <td>
                    <img src="{{ wine.imagePath|imagine_filter('my_full') }}">
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wine') }}">back to list</a>

    <a href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>

    {{ include('wine/_delete_form.html.twig') }}
{% endblock %}
