{% extends 'layout.html.twig' %}

{% block title %}Wine{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/collection/collection.css">
            <link rel="stylesheet" href="/css/views/collection/collection.media.css">
    {% endblock %}

{% block content %}
    <section id="wineShowSection">
        <div class="container-fluid">
            <h1>Wine</h1>
            <a class="action-link" href="{{ path('wine') }}"><i class="fas fa-arrow-left"></i>  back to list</a>
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <img src="{{ wine.imagePath|imagine_filter('my_normal') }}" class="showImageDesktop mx-auto">
                    <img src="{{ wine.imagePath|imagine_filter('my_thumb_wine') }}" class="showImageMobile mx-auto">
                </div>
                <div class="col-12 col-md-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="nameLabel">Name</th>
                                <td class="h3 name">{{ wine.name }}</td>
                            </tr>
                            <tr>
                                <th class="vintageLabel">Vintage</th>
                                <td class="vintage">{{ wine.vintage }}</td>
                            </tr>
                            <tr>
                                <th class="grapeLabel">Grape</th>
                                <td class="grape">{{ wine.grape }}</td>
                            </tr>
                            <tr>
                                <th class="countryLabel">Country</th>
                                <td class="country">{{ wine.country }}</td>
                            </tr>
                            <tr>
                                <th class="regionLabel">Region</th>
                                <td class="region">{{ wine.region }}</td>
                            </tr>
                            <tr>
                                <th class="regionLabel">Author</th>
                                <td class="region">{{ author }}</td>
                            </tr>
                            <tr>
                                <th class="descriptionLabel">Description</th>
                                <td class="descri">{{ wine.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                
            {% if currentUser == true and currentUser.id == wine.author %}
            <div class="col-md-12 d-flex justify-content-between">

                <a class="action-link btn btn-bordeaux" href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>

                {{ include('wine/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
    </section>


{% endblock %}
