{% extends 'layout.html.twig' %}

{% block title %}Log In{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/login/login.css">
            <link rel="stylesheet" href="/css/views/login/login.media.css">
    {% endblock %}

{% block content %}
<section id="loginSection">
    <div class="login-container col-12 col-md-6 col-xl-4">
        <form class='form-control form-container' method="post">
            <h1>Login</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

                <h4 class="mb-3">Please sign in</h4>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input class="rememberMe" type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

            <button class="btn btn-bordeaux login-submit" type="submit">
                Sign in
            </button>
        </form>
    </div>
</section>
{% endblock %}
