{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.text) }}    
    <div class="row">
        <div class="col-12">
                {{ form_row(form.imageFilename) }}
        </div>
        <div class="col-12">
            {% if form.vars.data.imageFilename %}
                <img class="cms-image" src="{{ form.vars.data.imagePath|imagine_filter('my_large') }}">
                <img class="cms-image-small" src="{{ form.vars.data.imagePath|imagine_filter('my_small') }}">
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
