{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.text) }}
    {{ form_row(form.image_filename) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
