{% extends 'admin/index.html.twig' %}

{% block title %}Hero index{% endblock %}

{% block content %}
<section id="">
    <div class="container-fluid">

        <h2>Change Main Section</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Image</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for hero in heroes %}
                <tr>
                    <td>{{ hero.id }}</td>
                    <td>{{ hero.title }}</td>
                    <td>{{ hero.text }}</td>
                    <td>
                        <img src="{{ hero.imagePath|imagine_filter ('my_thumb') }}" alt="">
                    </td>
                    <td>
                        <a class="action-link" href="{{ path('hero_edit', {'id': hero.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}
