{% extends 'layout.html.twig' %}
{% block title %}Homepage{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/index/index.css">
            <link rel="stylesheet" href="/css/views/index/index.media.css">
    {% endblock %}
{% block content %}

    {% for hero in heroElements %}
        <section id="section-1" class="container-fluid" style="background-image: url('{{ asset(hero.imagePath)|imagine_filter('my_large') }}')">
            <div class="container-fluid hero-content-container text-center">
                <h1 class="display-1 hero-title">{{ hero.title }}</h1>
                <h5 class="hero-text">{{ hero.text }}</h5>
            </div>
        </section>
    {% endfor %}

<!--       Slider        -->

<section id="section-2" class="container-fluid" >
    <div id="arrow-container" class="container-fluid">
        <div id="homeSlider">
        {% for sliderElement in sliderElements %}
        <div>
            <div class="row slider-row">
                <div class="col-12 col-lg-4">
                    <img id="slider-image" class="mx-auto" src="{{ asset(sliderElement.imagePath)|imagine_filter('my_large') }}" alt="">
                    <img id="slider-image-mobile" class="slider-image-mobile mx-auto" src="{{ asset(sliderElement.imagePath)|imagine_filter('my_thumb_wine') }}" alt="">
                    <img id="slider-image-mobile-90" class="slider-image-mobile mx-auto" src="{{ asset(sliderElement.imagePath)|imagine_filter('my_thumb_wine_90') }}" alt="">
                </div>
                <div class="col-12 col-lg-8 d-flex flex-column justify-content-center">
                    <div class="wine-banner">
                        <h3 class="banner-name">{{ sliderElement.name }}</h3>
                        <h4 class="banner-region">{{ sliderElement.region }}</h4>
                        <h4 class="dash"> - </h4>
                        <h4 class="banner-grape">{{ sliderElement.grape }}</h4>
                    </div>
                        <p class="banner-description">{{ sliderElement.description }}</p>
                </div>
            </div>
        </div>
        {% else %}
            <h3>no records found</h3>
        {% endfor %}
        </div>
    </div>    
</section> 

<section id="section-3" class="container-fluid" >
    <div class="container-fluid">
        <div id="about-banner" class="row">
            {% for articleElement in articleElements %}
            <div class="col-md-4 article-col">
                <a class="article-a" href="{{ path('article_show', {'id': articleElement.id}) }}">
                    <img href="{{ path('article_show', {'id': articleElement.id}) }}" src="{{ asset(articleElement.imagePath)|imagine_filter('my_small') }}" alt="grapes" class="article-image-small">
                    <h4 class="article-title">{{ articleElement.title }}</h4>
                    <p class="article-text">{{ articleElement.text |length > 255 ? articleElement.text|slice(0, 255) ~ '...' : articleElement.text  }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}