{% extends 'layout.html.twig' %}
{% block title %}Homepage{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/index/index.css">
            <link rel="stylesheet" href="/css/views/index/index.media.css">
    {% endblock %}
{% block content %}

    {% for hero in heroElements %}
        <section id="section-1" class="container-fluid" style="background-image: url('{{ hero.imagePath|imagine_filter('my_large') }}')">
            <div class="container-fluid hero-content-container text-center">
            <h1 class="display-1">{{ hero.title }}</h1>
            <h4 class="blockquote">{{ hero.text }}</h4>
        {% else %}
            <h1>Default Title</h1>
            <h4>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h4>
            <img src="defaultimage.image"></img>
        {% endfor %}
            </div>
        </section>


<!--       Slider        -->

<section id="section-2" class="container-fluid" >
    <div id="arrow-container" class="container-fluid">
        <div id="homeSlider">
        {% for sliderElement in sliderElements %}
        <div>
            <div class="row slider-row">
                <div class="col-12 col-md-4">
                    <img id="slider-image" class="mx-auto" src="{{ sliderElement.imagePath|imagine_filter('my_normal') }}" alt="wine">
                    <img id="slider-image-mobile" class="slider-image-mobile mx-auto" src="{{ sliderElement.imagePath|imagine_filter('my_thumb_wine') }}" alt="wine">
                    <img id="slider-image-mobile-90" class="slider-image-mobile mx-auto" src="{{ sliderElement.imagePath|imagine_filter('my_thumb_wine_90') }}" alt="wine">
                </div>
                <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                    <div class="wine-banner">
                        <h3 class="banner-name">{{ sliderElement.name }}</h3>
                        <h4 class="banner-region">{{ sliderElement.region }}</h4>
                        <h4 class="dash"> - </h4>
                        <h4 class="banner-grape">{{ sliderElement.grape }}</h4>
                    </div>
                        <p class="banner-description">{{ sliderElement.description }}</p>
                </div>
            </div>
        </div>
        {% else %}
            <h3>no records found</h3>
        {% endfor %}
        </div>
    </div>    
</section> 

<section id="section-3" class="container-fluid" >
    <div class="container-fluid">
        <div id="about-banner" class="row">
            {% for articleElement in articleElements %}
            <div class="col-md-4 article-col">
                <a class="article-a" href="{{ path('article_show', {'id': articleElement.id}) }}">
                    <img href="{{ path('article_show', {'id': articleElement.id}) }}" src="{{ articleElement.imagePath|imagine_filter('my_small') }}" alt="grapes" class="article-image-small">
                    <h4 class="article-title">{{ articleElement.title }}</h4>
                    <p class="article-text">{{ articleElement.text |length > 255 ? articleElement.text|slice(0, 255) ~ '...' : articleElement.text  }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}