{% extends 'layout.html.twig' %}
{% block title %}Homepage{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/index.css">
    {% endblock %}
{% block content %}

<div class="test">test</div>
    {% for hero in heroElements %}
    <section id="section-1" class="container" style="background-image: url('{{ hero.imagePath|imagine_filter('my_large') }}')">
        <div class="container hero-content-container ">
            <h1 class="display-1">{{ hero.title }}</h1>
            <h4 class="blockquote">{{ hero.text }}</h4>
        {% else %}
            <h1>Default Title</h1>
            <h4>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h4>
            <img src="defaultimage.image"></img>
        {% endfor %}
            <a href="{{ path('wine') }}">
                <button type="button" class="btn btn-bordeaux btn-lg btn-block">My Collection</button>
            <a/>
        </div>
    </section>

<section id="section-2" class="container" >
    <div id="arrow-container" class="container">
        <div id="homeSlider">
        {% for sliderElement in sliderElements %}
        <div>
            <div class="row slider-row">
                <div class="col-md-4">
                    <img src="{{ sliderElement.imagePath|imagine_filter('my_normal') }}" alt="wine">
                </div>
                <div class="col-md-8">
                    <div class="wine-banner">
                        <h3>{{ sliderElement.name }}</h3>
                        <h4>{{ sliderElement.region }} - {{ sliderElement.grape }}</h4>
                    </div>
                        <p>{{ sliderElement.description }}</p>
                </div>
            </div>
        </div>
        {% else %}
            <h3>no records found</h3>
        {% endfor %}
        </div>
    </div>    
</section>

<section id="section-3" class="container" >
    <div class="container">
        <div id="about-banner" class="row">
            <div class="col-md-4">
                <img src="" alt="grapes">
                <h4>Lorem lipsum Wine</h4>
                <p>purus in mollis nunc sed id semper risus in hendrerit gravida rutrum quisque non tellus orci ac auctor augue mauris augue neque gravida in fermentum</p>
            </div>
            <div class="col-md-4">
                <img src="" alt="barrel">
                <h4>Lorem lipsum Wine</h4>
                <p>purus in mollis nunc sed id semper risus in hendrerit gravida rutrum quisque non tellus orci ac auctor augue mauris augue neque gravida in fermentum</p>
            </div>
            <div class="col-md-4">
                <img src="" alt="glass">
                <h4>Lorem lipsum Wine</h4>
                <p>purus in mollis nunc sed id semper risus in hendrerit gravida rutrum quisque non tellus orci ac auctor augue mauris augue neque gravida in fermentum</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}