{# templates/layout.html.twig #}
{# extends from base.html.twig and defines the content structure used in all or most of the pages, such as a two-column content + sidebar layout. Some sections of the application can define their own layouts (e.g. templates/blog/layout.html.twig); #}
{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <a href="{{ path('home') }}"><img src="{{ asset('images/logo-large.png') }}" alt="mycave" class="header-logo"></a>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </div>

                {# Mobile navbar #}
                <div id="mobile-navbar" class="col-6">
                    <div class="row navbar">

                        <div class="d-flex flex-column justify-content-center login-div col-6">
                            {% if app.user == false %}
                                <a class="nav-item d-flex flex-column text-center login" href="{{ path('app_login') }}">  
                                    <i class="fas fa-lock login-text"></i>
                                    <p class="login-text">Login</p>
                                </a>
                            {% else %}
                                <a class="nav-item d-flex flex-column text-center login" href="{{ path('app_logout') }}">
                                    <i class="fas fa-lock login-text"></i>
                                    <p class="login-text">Logout</p>
                                </a>
                            {% endif %}
                        </div>

                        <div class="dropdown-toggle nav-item col-6 menu-div" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                       <i class="fas fa-bars login-text"></i>
                            <p class="">menu</p>
                        </div>

                        <div class="dropdown-menu block" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item nav-item" href="{{ path('home') }}">My Cave</a>
                            <a class="dropdown-item nav-item" href="{{ path('wine')}}">Collection</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item nav-item" href="{{ path('user_index') }}">Admin</a>
                                {% endif %}
                        </div>
                    </div>
                </div>

                {# Desktop navbar #}
                <div id="desktop-navbar" class="col-6">
                    <div class="row navbar float-right navbar-expand-lg">
                        <a class="nav-item" href="{{ path('home') }}">My Cave</a>
                        <a class="nav-item" href="{{ path('wine')}}">Collection</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-item" href="{{ path('user_index') }}">Admin</a>
                            {% endif %}
                            
                        <div class="d-flex flex-column justify-content-center login-div">
                        {% if app.user == false %}
                            <a class="nav-item d-flex flex-column text-center login" href="{{ path('app_login') }}">  
                                <i class="fas fa-lock login-text"></i>
                                <p class="login-text">Login</p>
                            </a>
                        {% else %}
                            <a class="nav-item d-flex flex-column text-center login" href="{{ path('app_logout') }}">
                                <i class="fas fa-lock login-text"></i>
                                <p class="login-text">Logout</p>
                            </a>
                        {% endif %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </header>
        
    {% block sectionNav %}{% endblock %}
    {% block content %}
    {% endblock %}

    <footer class="footer container-fluid">
        <div class="container-fluid h-100">
            <div class="row justify-content-between">
                <div class="col-6 col-md-4">
                    <img class="footer-logo" src="{{ asset('images/logo-dark.jpg') }}" alt="logo"></div>
                <div class="col-6 col-md-4">
                    <div class="d-flex flex-column justify-content-between">
                        <div class="col-md-12">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-4 text-right"><a class="footer-nav-item" href="{{ path('home') }}">My Cave</a></div>
                                <div class="col-md-4 text-right"><a class="footer-nav-item" href="{{ path('wine')}}">Collection</a></div>
                                <div class="col-md-4 text-right">
                                {% if app.user == false %}
                                    <a class="footer-nav-item" href="{{ path('app_login') }}">Login</a>
                                {% else %}
                                    <a class="footer-nav-item" href="{{ path('app_logout') }}">Logout</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-12"><h4 class="footer-quote">"Alcohol is bad, m'kay?"<br> Mr. Mackey</h4></div>
        </div>
    </footer>
{% endblock %}


