{# templates/layout.html.twig #}
{# extends from base.html.twig and defines the content structure used in all or most of the pages, such as a two-column content + sidebar layout. Some sections of the application can define their own layouts (e.g. templates/blog/layout.html.twig); #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>My Cave</h1>
        base
        <nav class="">
            <div class="" id="">
                <ul class="">
                    <li class="">
                        <a class="" href="{{ path('home') }}">My Cave</a>
                    </li>
                    <li class="">
                        <a class="" href="{{ path('wine')}}">Collection</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="">
                        <a class="" href="{{ path('user_index') }}">Admin</a>
                    </li>
                    {% endif %}
                    {% if app.user == false %}
                    <li class="">
                        <a href="{{ path('app_login') }}">Login</a>
                    </li>
                    {% else %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </nav>

    {% block sectionNav %}{% endblock %}
    {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container text-center">
                <span class="">Footer</span>
            </div>
        </footer>
{% endblock %}