{% extends 'admin/index.html.twig' %}

{% block title %}Article index{% endblock %}

    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin/admin.css">
            <link rel="stylesheet" href="/css/views/admin/admin.media.css">
            <link rel="stylesheet" href="/css/views/article/article.css">
            <link rel="stylesheet" href="/css/views/article/article.media.css">
    {% endblock %}

{% block content %}
<section id="article">
    <div class="container-fluid">
        <h1>Article index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th class="label">Title</th>
                    <th class="label">Text</th>
                    <th class="label">Image</th>
                    <th class="label">Date modified</th>
                    <th class="label">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td class="title">{{ article.title }}</td>
                    <td class="text">{{ article.text |length > 255 ? article.text|slice(0, 255) ~ '...' : article.text  }}</td>
                    <td class="image">
                        <img src="{{ asset(article.imagePath)|imagine_filter ('my_thumb') }}" alt="">
                    </td>
                    <td class="dateModified">{{ article.dateModified ? article.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="action-link" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
