{% extends 'layout.html.twig' %}

{% block title %}Article{% endblock %}

    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin/admin.css">
            <link rel="stylesheet" href="/css/views/admin/admin.media.css">
            <link rel="stylesheet" href="/css/views/article/article.css">
            <link rel="stylesheet" href="/css/views/article/article.media.css">
    {% endblock %}
{% block content %}
<section id="article">
    <div class="container-fluid">
        <div class="col-md-12">
            <h1>{{ article.title }}</h1>
            <a href="{{ path('home') }}" class="action-link"><i class="fas fa-arrow-left"></i>  back to home</a>
            <img src="{{ asset(article.imagePath)|imagine_filter('my_large') }}" alt="" class="article-image-large">
            <img src="{{ asset(article.imagePath)|imagine_filter('my_small') }}" alt="" class="article-image-small">
            <p>{{ article.text }}</p>
            <h6>{{ article.dateModified ? article.dateModified|date('Y-m-d H:i:s') : '' }}</h6>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="action-link btn btn-bordeaux" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        {% endif %}
        </div>
    </div>
</section>

{% endblock %}
